<tr>
    <th scope="row" class="crest"> <img src='{{{teamCrest}}}'> </th>
        <td class="names">{{{teamName}}}</td>
        <td>{{{teamCountry}}}</td>
        <td>
            <ul id="changes">
                <a href="/update"><button  type="button" class="btn btn-primary update">Update</button></a>
                <a href="/add"></a><button  type="button" class="btn btn-success add">Add</button></a>
                <a href="/delete"></a><button  type="button" class="btn btn-danger delete">Delete</button></a>
            </ul>
        </td>
</tr>