<table class="table">
            <thead>
              <tr>
                <th scope="col">Crest</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>  
            {{#each data.equipos}}
                <tr>
                    <th scope="row" class="crest"> <img src={{{this.crestUrl}}}> </th>
                    <td>{{{this.name}}}</td>
                    <td>{{{this.area.name}}}</td>
                    <td>Cambio</td>
                </tr>
            {{/each}}
            
            </tbody>
          </table>